// 头部导航高度
$navbar-height: .55rem;

// 字体大小
$fsize-9: .09rem;
$fsize-10: .10rem;
$fsize-11: .11rem;
$fsize-12: .12rem;
$fsize-14: .14rem;
$fsize-16: .16rem;
$fsize-17: .17rem;
$fsize-18: .18rem;
$fsize-19: .19rem;
$fsize-20: .20rem;
$fsize-25: .25rem;

// 每日推荐的图标高宽
$recommend-icon-wh: .45rem;

$grey-c: #8c8c8c;